<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
      <!--                      <img class="img" src="./assets/img/faces/marc.jpg"/>-->
                            <img src="./assets/img/tim_80x80.png"/>
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray"></h6>
                        <h4 class="card-title">{{candidatProfile?.person.firstName}} {{candidatProfile?.person.lastName}}</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I
                            love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-rose btn-round" data-toggle="modal"
                           style="margin-right: 10px" data-target="#modal-pdfpreview">view CV</a>
                    </div>
                </div>
            </div>
            <div class="modal fade bd-example-modal-lg" id="modal-pdfpreview" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog modal-lg vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">x</span>
                                </button>
                            </div>
                            <div *ngIf="jobCandi?.urlCV">
                                <embed [src]="getURLCV()" width="100%" height="600" alt="pdf">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">Candidate Profile</h4>
                        <div class="card-header card-header-icon float-right">
                            <div class="card-icon" style="padding: 8px;background: linear-gradient(60deg, #00bcd4, #00bcd4);">
                                <i class="">{{jobCandi?.status}}</i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="row">
                                <div class="bmd-form-group col-sm-6 float-left ">
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="material-icons">face</i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="First Name..."
                                               value="{{candidatProfile?.person.firstName}}"
                                            [(ngModel)]="model.firstName" name="firtname">
                                    </div>
                                </div>
                                <div class="bmd-form-group col-sm-6 float-left ">
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="material-icons">people</i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Last Name..."
                                               value="{{candidatProfile?.person.lastName}}"
                                               [(ngModel)]="model.lastName" name="lastname">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="bmd-form-group col-sm-6  ">
                                    <div class="input-group ">
                                        <div class="input-group-prepend ">
                                            <div class="input-group-text">
                                                <i class="material-icons">cake</i>
                                            </div>
                                        </div>
                                        <!--  placeholder="Date of birth"-->
                                        <mat-form-field style="padding: 0;" class="col-sm-9">
                                            <input matInput [matDatepicker]="picker" class="mr-auto "

                                                   [(ngModel)]="model.birthday" name="birthday"
                                                   name="birthday"
                                                   [value]="birthday"
                                                   (click)="picker.open()">
                                            <mat-datepicker-toggle matSuffix
                                                                   [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="bmd-form-group col-sm-6 ">
                                    <div class="input-group float-left ">
                                        <div class="input-group-prepend float-left">
                                            <div class="input-group-text">
                                                <i class="material-icons">wc</i>
                                            </div>
                                        </div>
                                        <mat-form-field style="padding: 0;" class="col-sm-9">
                                            <mat-select placeholder="Gender" name="gender" [value]="candidatProfile?.person.gender"
                                                        [(ngModel)]="model.gender" name="gender">
                                                <mat-option *ngFor="let gender of genders"
                                                            [value]="gender.value">
                                                    {{  gender.viewValue }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="bmd-form-group col-sm-6 float-left ">
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="material-icons">phone</i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control"
                                               placeholder="Phone number..."
                                               value="{{candidatProfile?.person.phoneNumber}}"
                                               [(ngModel)]="model.phoneNumber" name="phoneNumber">
                                    </div>
                                </div>
                                <div class="bmd-form-group col-sm-6 float-left ">
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="material-icons">email</i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control"
                                               placeholder="Email address..."
                                               [(ngModel)]="model.email" name="email"
                                               value="{{candidatProfile?.person.email}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="bmd-form-group col-sm-12 float-left ">
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="material-icons">location_on</i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Address..."
                                               [(ngModel)]="model.address" name="address"
                                            value="{{candidatProfile?.person.address}}">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="bmd-form-group col-sm-12 float-left ">
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="material-icons">info</i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control"
                                               placeholder="More infomation...">
                                    </div>
                                </div>

                            </div>
                            <button mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="UpdateCandidate(candidatProfile?.person)">Update Profile
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">History modify time line </h4>
                    </div>
                    <div class="card-body">
                        <ul class="timeline" style="left: 0%;">
                            <li *ngFor="let log of candidatProfile?.logs" class="timeline-inverted" >
                                <span class="label label-danger">{{formatDate(log?.createDateTime)}}</span>
                                <div class="timeline-badge success" style="margin-top: 10px;">
                                    <i class="material-icons">history</i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-body" *ngFor="let logDetail of log.logDetails">
                                        <p>
                                            Change value from <B>{{logDetail?.changeValue}}</B> to <B>{{logDetail?.toValue}}</B> at field <B>{{logDetail?.updateField}}</B>
                                        </p>
                                    </div>
                                    <h6>
                                        <b><i class="ti-time"></i> modify by {{log?.user_log?.person?.lastName}} {{log?.user_log?.person?.firstName }}</b>
                                    </h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


