<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">All Job</p>
            <h3 class="card-title">4/12
              <small>JOB</small>
            </h3>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
              <th>STT</th>
              <th>Name</th>
              <th>Position</th>

              </thead>
              <tbody>
              <tr *ngFor ="let job of interviewJob; index as i" (click)="getJobCandiDetail(job?.job_id)">
                <td>{{i+1}}</td>
                <td>{{job?.jobname}}</td>
                <td>{{job?.position}}</td>
              </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example" class="float-right">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">Candidate apply</p>
            <h3 class="card-title">415</h3>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
              <th>Name</th>
              <th>Email</th>
              <th>Date apply</th>
              <th>Feedback</th>
              </thead>
              <tbody>
              <tr *ngFor="let jobcandi of listInterJobCandi">
                <td>{{jobcandi?.name}}</td>
                <td>{{jobcandi?.email}}</td>
                <td>{{jobcandi?.createdAt}}</td>
                <td><button mat-mini-fab="point" type="button" class="btn btn-danger action-button"
                            (click)="feedbackDialog(jobcandi?.jobcanID)" ><i class="material-icons">rate_review</i></button></td>
              </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example" class="float-right">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>

          </div>
        </div>
      </div>
    </div>
<!--    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <div id="build-wrap" class="card card-stats"></div>
          <div id="render-wrap" class="card card-stats ">
            <form >
            </form>
            <button class="btn btn-default" type="button" id="feedback-data">FeedBack</button>
            <button class="btn btn-default edit-form">Edit Form</button>
          </div>
      </div>
    </div>-->
  </div>
</div>
