<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <h3 class="card-title">Add new JOB </h3>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit(fr)" #fr="ngForm" [formGroup]="addJobForm" class="form-horizontal">
                            <div class="row col-lg-12">
                                <div class="bmd-form-group col-sm-6 float-left">
                                    <div class="input-group">
                                        <mat-form-field class="float-left example-full-width">
                                            <input matInput formControlName="jobName" type="text" name="jobName"
                                                   class="form-control"
                                                   placeholder="Job Name...">
                                            <mat-error *ngIf="addJobForm.controls['jobName'].hasError('required')">
                                                Job name is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="bmd-form-group col-sm-6 float-left ">
                                    <div class="input-group">
                                        <mat-form-field class="float-left example-full-width">
                                            <input matInput type="text" class="form-control" formControlName="position"
                                                   placeholder="Position...">
                                            <mat-error *ngIf="addJobForm.controls['position'].hasError('required')">
                                                Job position is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-lg-12">
                                <div class="bmd-form-group col-sm-6 float-left ">
                                    <div class="input-group">
                                        <mat-form-field class="float-left example-full-width">
                                            <input matInput type="number" class="form-control"
                                                   formControlName="numberRecruit"
                                                   placeholder="Number of recruit...">
                                            <mat-error
                                                    *ngIf="addJobForm.controls['numberRecruit'].hasError('required')">
                                                Number of recruit is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="bmd-form-group col-sm-6 float-left ">
                                    <div class="input-group">
                                        <mat-form-field class="float-left example-full-width">
                                            <input matInput type="number" class="form-control"
                                                   formControlName="roundInterview"
                                                   placeholder="Round interview ...">
                                            <mat-error
                                                    *ngIf="addJobForm.controls['roundInterview'].hasError('required')">
                                                Number of round is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-12">
                                <div class="bmd-form-group col-sm-12 float-left ">
                                    <div class="input-group">
                                        <mat-form-field class="float-left example-full-width">
                                            <textarea rows="3" matInput class="form-control" formControlName="jobDes"
                                                      placeholder="Job description"></textarea>
                                            <mat-error *ngIf="addJobForm.controls['jobDes'].hasError('required')">
                                                Job description is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-12">
                                <div class="bmd-form-group col-sm-12 float-left ">
                                    <div class="input-group">
                                        <mat-form-field class="float-left example-full-width">
                                            <textarea rows="3" matInput formControlName="jobRequire"
                                                      placeholder="Job requirement"></textarea>
                                            <mat-error *ngIf="addJobForm.controls['jobRequire'].hasError('required')">
                                                Job requirement is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
               <!--             <div class="row col-12">
                                <div class="bmd-form-group col-12 float-left ">
                                    <div class="input-group">
                                        <mat-form-field>
                                            &lt;!&ndash;cau hinh job, select config type      &ndash;&gt;
                                            <mat-label>Config types</mat-label>
                                            <mat-select multiple formControlName="jobSelect" [(value)]="listSelected">
                                                <mat-option *ngFor="let configtype of listConfigType"
                                                            [value]="configtype">{{configtype.name}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>-->
                            <div class="row col-12">
                                <div class="card card-stats">
                                    <div class="card-header card-header-warning card-header-icon">
                                        <div class="card-icon">
                                            <small>CONFIG JOB</small>
                                        </div>
                                        <h3 class="card-title">
                                            <button type="button" mat-raised-button mat-min-fab
                                                    class="btn btn-success btn-round btn-fab"
                                                    (click)="configTypeDialog()">
                                                <i class="material-icons">add_circle</i>
                                            </button>
                                        </h3>
                                    </div>
                                    <div class="card-body table-responsive">
                                        <div class="row col-12" *ngIf="listSelected.length > 0">
                                            <div class="row col-12 "
                                                 *ngFor="let configSelect of listSelected">
                                                <div class="card">
                                                    <div class="card-header" id="headingSkill">
                                                        <h2 class="mb-0 float-left">
                                                            <button class="btn btn-link collapsed" type="button"
                                                                    data-toggle="collapse"
                                                                    [attr.data-target]="'#' + configSelect.id"
                                                                    aria-expanded="false" aria-controls="collapseSkill">
                                                                <b class="text-info">{{configSelect.name}}</b>
                                                            </button>
                                                        </h2>
                                                        <button type="button" mat-raised-button mat-min-fab
                                                                class="btn btn-success btn-round btn-fab" (click)="removeConfigType(configSelect.id)">
                                                            <i class="material-icons">remove_circle</i>
                                                        </button>
                                                    </div>
                                                    <div id="{{configSelect.id}}" class="collapse"
                                                         aria-labelledby="headingSkill"
                                                         data-parent="#accordionResumeContent">
                                                        <div class="card-body col-12">
                                                            <div class="input-group col-12">
                                                                <mat-form-field>
                                                                    <mat-label>Select config
                                                                        of {{configSelect.name}}</mat-label>
                                                                    <mat-select multiple
                                                                                [(value)]="configSelect.configsSelected">
                                                                        <mat-option
                                                                                *ngFor="let config of configSelect.configs"
                                                                                [value]="config">{{config.name}}</mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="input-group col-12"
                                                                 *ngIf="configSelect.configsSelected.length > 0">
                                                                <div *ngFor=" let config of configSelect.configsSelected" class="row col-4" style="margin-right: 10px">
                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            <h2 class="mb-0 float-left">
                                                                                {{config.name}}<br>
                                                                            </h2>
                                                                        </div>
                                                                        <div class="card-body" *ngFor="let configtypesModel of configSelect.model.configtypes">
                                                                            <div *ngFor="let configModel of configtypesModel.properties"
                                                                                 class="row col-12">
                                                                                <div *ngIf="initialModel(configModel.id)"
                                                                                     class="col-12">
                                                                                    <mat-form-field
                                                                                            class="row float-left example-full-width">
                                                                                        <mat-label
                                                                                                class="text-info col-3">
                                                                                            {{configModel.property}}
                                                                                        </mat-label>
                                                                                        <input type="{{configModel.type}}"
                                                                                               [ngModelOptions]="{standalone: true}"
                                                                                               matInput
                                                                                               class="form-control col-3"
                                                                                               [(ngModel)]="config.content[configModel.id-1]"/>
                                                                                    </mat-form-field>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--                            <div class="row col-12" *ngIf="listSelected.length > 0">
                                                            <div class="bmd-form-group col-6 float-left"
                                                                 *ngFor="let configSelect of listSelected">
                                                                <div class="input-group col-12">
                                                                    <mat-form-field>
                                                                        <mat-label>Select config of {{configSelect.name}}</mat-label>
                                                                        <mat-select multiple [(value)]="configSelect.configsSelected">
                                                                            <mat-option *ngFor="let config of configSelect.configs"
                                                                                        [value]="config">{{config.name}}</mat-option>
                                                                        </mat-select>
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="input-group col-12" *ngIf="configSelect.configsSelected.length > 0">
                                                                    <div *ngFor=" let config of configSelect.configsSelected" class="row col-12">
                                                                        <div class="row col-12 float-left text-danger">
                                                                            {{config.name}}<br>
                                                                        </div>
                                                                        <div *ngFor="let configtypesModel of configSelect.model.configtypes"
                                                                             class="row col-12">
                                                                            <div class="text-info">
                                                                                Config name: {{configtypesModel.name}} <br>
                                                                            </div>
                                                                            <div *ngFor="let configModel of configtypesModel.properties"
                                                                                 class="row col-12">
                                                                                <div *ngIf="initialModel(configModel.id)" class="col-12">
                                                                                    <mat-form-field class="float-left example-full-width">
                                                                                        <mat-label class="text-info">
                                                                                            {{configModel.property}}
                                                                                        </mat-label>
                                                                                        <input type="{{configModel.type}}"
                                                                                               [ngModelOptions]="{standalone: true}"
                                                                                               matInput
                                                                                               class="form-control col-12"
                                                                                               [(ngModel)]="config.content[configModel.id-1]"/>
                                                                                    </mat-form-field>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>-->
                            <button class="btn btn-info float-right">Publish</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
