<h2 mat-dialog-title>Details interview</h2>

<mat-dialog-content class="mat-typography">


  <table mat-table [dataSource]="data"  class="table">
    <ng-container matColumnDef="round">
      <th mat-header-cell *matHeaderCellDef> Round </th>
      <td mat-cell *matCellDef="let item">{{item.round}}</td>
    </ng-container>
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let item">{{item.dateTime}}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let item">{{item.address}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let item" [style.color]="item.status =='Pass' ?'#32db64': item.status =='Waiting' ? '#000000' : '#000000' "  >
        {{item.status}}
      </td>
    </ng-container>
    <ng-container matColumnDef="feedback">
      <th mat-header-cell *matHeaderCellDef> Feedback </th>
      <td mat-cell *matCellDef="let item" style="word-wrap: break-spaces">{{item.feedback}}</td>
    </ng-container>
    <ng-container matColumnDef="interviewer">
      <th mat-header-cell *matHeaderCellDef> Interviewer </th>
      <td mat-cell *matCellDef="let item" style="word-wrap: break-spaces">{{item.userFeedbackName}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:  displayedColumns;"></tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">

  <button mat-button cdkFocusInitial mat-dialog-close >OK</button>
</mat-dialog-actions>
