<div class="wrapper wrapper-full-page">
    <div class="page-header register-page header-filter" filter-color="black"
         style="background-image: url('./assets/img/register.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-signup">
                        <div class="row col-12 justify-content-center">
                            <h2 class="card-title text-center ">Register</h2>

                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-12 ">

                                    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                        <div class="row">
                                            <div class=" col-6 float-left">
                                                <div class="bmd-form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                              <span class="input-group-text">
                                                                <i class="material-icons">person</i>
                                                              </span>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                               formControlName="firstName" placeholder="First name...">
                                                        <div class="error" style="color: red"
                                                             *ngIf="loginForm.controls['firstName'].hasError('required') && loginForm.controls['firstName'].touched">
                                                            First name is required
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="bmd-form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                              <span class="input-group-text">
                                                                <i class="material-icons">mail</i>
                                                              </span>
                                                        </div>
                                                        <input type="email" class="form-control"
                                                               formControlName="email" placeholder="Email...">
                                                        <div class="error" style="color: red"
                                                             *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
                                                            Email is required
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="bmd-form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                              <span class="input-group-text">
                                                                <i class="material-icons">security</i>
                                                              </span>
                                                        </div>
                                                        <input type="password" class="form-control"
                                                               formControlName="password" placeholder="Password...">
                                                        <div class="error" style="color: red"
                                                             *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                                                            Password is required
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>



                                            <div class=" col-6 float-left">
                                                <div class="bmd-form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                              <span class="input-group-text">
                                                                <i class="material-icons">people</i>
                                                              </span>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                               formControlName="lastName" placeholder="Last name...">
                                                        <div class="error" style="color: red"
                                                             *ngIf="loginForm.controls['lastName'].hasError('required') && loginForm.controls['lastName'].touched">
                                                            Last name is required
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="bmd-form-group">
                                                    <div class="input-group">

                                                    </div>
                                                </div>
                                                <div class="bmd-form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                              <span class="input-group-text">
                                                                <i class="material-icons">location_on</i>
                                                              </span>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                               formControlName="address" placeholder="Address...">
                                                        <div class="error" style="color: red"
                                                             *ngIf="loginForm.controls['address'].hasError('required') && loginForm.controls['address'].touched">
                                                            Address is required
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="bmd-form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                              <span class="input-group-text">
                                                                <i class="material-icons">replay</i>
                                                              </span>
                                                        </div>
                                                        <input type="password" class="form-control"
                                                               formControlName="confirmPass" placeholder="Confirm password...">
                                                        <div class="error" style="color: red"
                                                             *ngIf="loginForm.controls['confirmPass'].hasError('required') && loginForm.controls['confirmPass'].touched">
                                                            Confirm pass is required
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>




                                        <div class=" row col-12 d-flex justify-content-center">
                                            <label class="form-check form-check-label">
                                                <input class="form-check-input mt-1" type="checkbox" value=""
                                                       checked="" formControlName="check">
                                                <span class="ml-1 form-check-sign">
                                                                  <span class="check"></span>
                                                                </span>
                                                I agree to the <a href="#something">terms and conditions</a>.
                                            </label>
                                        </div>
                                        <div class="row col-12  text-center justify-content-center">
                                            <button class="btn btn-primary btn-round mt-4" [disabled]="loginForm.invalid">Get Started</button>

                                        </div>

                                    </form>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer ">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                CyberLogitec
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy;
                    {{test | date: 'yyyy'}}, made by Cyber Logitec
                </div>
            </div>
        </footer>
    </div>
</div>
