<h2 mat-dialog-title>Schedule interview</h2>
<form class="form" [formGroup]="scheduleForm" (ngSubmit)="creatSchedule()">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <mat-form-field class="col-6">
                <input matInput [matDatepicker]="dateInterview"
                       class="float-left mr-auto"
                       placeholder="Date interview"
                       formControlName="date"
                       (click)="dateInterview.open()">
                <mat-datepicker-toggle matSuffix [for]="dateInterview">
                </mat-datepicker-toggle>
                <mat-datepicker #dateInterview></mat-datepicker>
                <mat-error *ngIf="scheduleForm.controls['date'].hasError('required') && scheduleForm.controls['date'].touched">Date is required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-6">
                <input matInput apt-time-picker type="time" formControlName="time" [value]="timeSchedule" (click)="open()" placeholder="Time interview" >
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-6" floatPlaceholder="never" shouldPlaceholderFloat="false">
                <input matInput type="text" placeholder="Location interview" formControlName="address">
                <mat-error *ngIf="scheduleForm.controls['address'].hasError('required') && scheduleForm.controls['address'].touched">Location is required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Interviewer</mat-label>
                <mat-select formControlName="interviewer">
                    <mat-option *ngFor="let interviewer of listInterview" [value]="interviewer" (onSelectionChange)="selectInterviewer($event)">
                        {{interviewer?.person.firstName}}  {{interviewer?.person.lastName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="scheduleForm.controls['interviewer'].hasError('required')">Please choose an interviewer</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-12">
                <mat-label>Interviewer Support</mat-label>
                <mat-select multiple formControlName="supporter">
                    <mat-option *ngFor="let interviewSupport of listSupporter"
                                [value]="interviewSupport?.id">{{interviewSupport?.person.firstName}}  {{interviewSupport?.person.lastName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-12"> Candidates</div>
            <table mat-table [dataSource]="dataSource"
                   class="table table-striped table-bordered mat-elevation-z8 text-warning text-left">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.candidateName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email</th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef> Phone</th>
                    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selection.toggle(row)">
                </tr>
            </table>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button class="mat-raised-button" (click)="close()">Close</button>
        <button type="submit" class="mat-raised-button mat-primary">Save</button>
    </mat-dialog-actions>
</form>
