<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">


            <a class="navbar-brand waves-effect" href="/client">
                <strong class="blue-text">CyberLogitec</strong>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect" href="/client">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav nav-flex-icons" *ngIf="user_current ==null">

                    <li class="nav-item">
                        <a href="/auth/login-guest" class="nav-link waves-effect">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/auth/register" class="nav-link border border-light rounded waves-effect">
                            Register
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-flex-icons" *ngIf="user_current !=null">

                    <li class="nav-item">
                        <a href="/client/prof" class="nav-link waves-effect">
                            Hi <span class="text-info">{{user_current.username}} </span>!
                        </a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-link text-warning" (click)="logoutButtonAction()">
                            LOGOUT
                        </button>
                    </li>
                </ul>


            </div>

        </div>
    </nav>

</header>
<input type="file" id="resumeUpload" (change)="onFileUpload($event)" hidden accept=".pdf">

<main class="mt-5 pt-5">
    <div class="container">


        <!--        <div class="row">-->
        <!--            <div class="col-12">-->
        <!--                <div class="card">-->
        <!--                    <div class="card-header card-header-primary">-->
        <!--                        <h4 class="card-title">Search Job</h4>-->
        <!--                    </div>-->
        <!--                    <div class="card-body">-->
        <!--                        <div class="row">-->
        <!--                            <div class="col-4">-->
        <!--                                <mat-form-field>-->
        <!--                                    <mat-label>What do you want to search?</mat-label>-->
        <!--                                    <input matInput placeholder="Search anything">-->
        <!--                                </mat-form-field>-->
        <!--                            </div>-->

        <!--                            <div class="col-6">-->
        <!--                                <mat-form-field>-->
        <!--                                    <mat-label>Choose your skills</mat-label>-->
        <!--                                    <mat-select multiple [(ngModel)]="currentSkill" name="Skills">-->
        <!--                                        <mat-option *ngFor="let skill of skills" [value]="skill">-->
        <!--                                            {{ skill }}-->
        <!--                                        </mat-option>-->
        <!--                                    </mat-select>-->
        <!--                                </mat-form-field>-->
        <!--                            </div>-->
        <!--                            <div class="col-2 float-right">-->
        <!--                                <button mat-raised-button class="btn btn-success float-right">Filter</button>-->
        <!--                            </div>-->
        <!--                        </div>-->


        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->


        <section *ngIf="listJob!= null && listJob.length >0">
            <div *ngFor="let item of listJob">

                <div class="card">
                    <!--Card content-->
                    <div class="card-body">
                        <h4 class="card-title text-info ">{{item.jobName}}</h4>
                        <div class="row">
                            <div class="col-10">
                                <p class="card-text">Position : {{item.position}}</p>
                                <p class="card-text">Number of recruit : {{item.numberRecruitment}}</p>
                                <p class="card-text">Job description : {{item.jobDescription}}</p>
                            </div>
                            <div class="col-2">

                                <button class="btn btn-success" ction (click)="applyJobButtonAction(item)">Apply now
                                </button>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">
    <hr class="my-4">


    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2019 Copyright:
        <a href="/client/home" target="_blank"> CyberLogitec </a>
    </div>
    <!--/.Copyright-->

</footer>
