<div class="main-content">
    <div class="container-fluid">
        <!--<div class="row">-->
        <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
        <!--<div class="card card-stats">-->
        <!--<div class="card-header card-header-warning card-header-icon">-->
        <!--<div class="card-icon">-->
        <!--<i class="material-icons">content_copy</i>-->
        <!--</div>-->
        <!--<p class="card-category">Used Space</p>-->
        <!--<h3 class="card-title">49/50-->
        <!--<small>GB</small>-->
        <!--</h3>-->
        <!--</div>-->
        <!--<div class="card-footer">-->
        <!--<div class="stats">-->
        <!--<i class="material-icons text-danger">warning</i>-->
        <!--<a href="#pablo">Get More Space...</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
        <!--<div class="card card-stats">-->
        <!--<div class="card-header card-header-success card-header-icon">-->
        <!--<div class="card-icon">-->
        <!--<i class="material-icons">store</i>-->
        <!--</div>-->
        <!--<p class="card-category">Revenue</p>-->
        <!--<h3 class="card-title">$34,245</h3>-->
        <!--</div>-->
        <!--<div class="card-footer">-->
        <!--<div class="stats">-->
        <!--<i class="material-icons">date_range</i> Last 24 Hours-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
        <!--<div class="card card-stats">-->
        <!--<div class="card-header card-header-danger card-header-icon">-->
        <!--<div class="card-icon">-->
        <!--<i class="material-icons">info_outline</i>-->
        <!--</div>-->
        <!--<p class="card-category">Fixed Issues</p>-->
        <!--<h3 class="card-title">75</h3>-->
        <!--</div>-->
        <!--<div class="card-footer">-->
        <!--<div class="stats">-->
        <!--<i class="material-icons">local_offer</i> Tracked from Github-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
        <!--<div class="card card-stats">-->
        <!--<div class="card-header card-header-info card-header-icon">-->
        <!--<div class="card-icon">-->
        <!--<i class="fa fa-twitter"></i>-->
        <!--</div>-->
        <!--<p class="card-category">Followers</p>-->
        <!--<h3 class="card-title">+245</h3>-->
        <!--</div>-->
        <!--<div class="card-footer">-->
        <!--<div class="stats">-->
        <!--<i class="material-icons">update</i> Just Updated-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Candidate Waiting</h4>
                        <p class="card-category">Candidate pass interviewing waiting for offer</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Point</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Dakota Rice</td>
                                <td>Java developer</td>
                                <td>60</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Minerva Hooper</td>
                                <td>.Net</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Sage Rodriguez</td>
                                <td>PHP developer</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Philip Chaney</td>
                                <td>Tester</td>
                                <td>75</td>
                            </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example" class="float-left">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                        <button type="button" class="btn btn-info float-right">Offer</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">List offering</h4>
                        <p class="card-category">New employees on 15th September, 2016</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Salary</th>
                            <th>Country</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Dakota Rice</td>
                                <td>$36,738</td>
                                <td>Niger</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Minerva Hooper</td>
                                <td>$23,789</td>
                                <td>Curaçao</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Sage Rodriguez</td>
                                <td>$56,142</td>
                                <td>Netherlands</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Philip Chaney</td>
                                <td>$38,735</td>
                                <td>Korea, South</td>
                            </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example" class="float-right">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">History offering</h4>
                        <!--<p class="card-category">Candidate pass interviewing waiting for offer</p>-->
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>Date</th>
                            <th>Expect</th>
                            <th>Salary</th>
                            <th>Burget</th>
                            <th>Status</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>$23,789</td>
                                <td>$23,789</td>
                                <td>$36,738</td>
                                <td><span class="badge badge-danger">Fail</span></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>$23,789</td>
                                <td>$23,789</td>
                                <td>$23,789</td>
                                <td><span class="badge badge-danger">Fail</span></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>$23,789</td>
                                <td>$23,789</td>
                                <td>$56,142</td>
                                <td><span class="badge badge-danger">Fail</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>$23,789</td>
                                <td>$23,789</td>
                                <td>$38,735</td>
                                <td><span class="badge badge-success">Success</span></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
