<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">All Job</p>
                        <h3 class="card-title">4/12
                            <small>JOB</small>
                        </h3>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>STT</th>
                            <th>Name</th>
                            <th>Position</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let job of interviewJob; index as i" (click)="getJobCandiDetail(job?.job_id,job?.jobRound)">
                                <td>{{i+1}}</td>
                                <td>{{job?.jobname}}</td>
                                <td>{{job?.position}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <!--         <nav aria-label="Page navigation example" class="float-right">
                                     <ul class="pagination">
                                         <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                         <li class="page-item"><a class="page-link" href="#">1</a></li>
                                         <li class="page-item"><a class="page-link" href="#">2</a></li>
                                         <li class="page-item"><a class="page-link" href="#">3</a></li>
                                         <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                     </ul>
                                 </nav>-->

                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Job Detail</p>

                    </div>
                    <div class="card-body ">
                        <div class="content" style="text-align: left">
                            <div class="row col-12">
                                <div>
                                    <label>Job name: </label>
                                    <span><B>  {{detailJob?.jobName}}</B></span>
                                </div>
                            </div>
                            <div class="row float-left col-lg-12">
                                <div>
                                    <label>RoundTotal: </label>
                                    <span><B>  {{detailJob?.round}}</B></span>
                                </div>
                            </div>
                            <div class="row col-lg-12">
                                <div>
                                    <label>Job description: </label>
                                    <span><B> {{detailJob?.jobDescription}}</B></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-4 " *ngFor="let jobcands of interviewRounds ">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <h3 class="card-title">Round {{jobcands?.roundNum}}</h3>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let cand of jobcands?.interviewRoundCandi">
                                <td>{{cand?.jobcanID}}</td>
                                <td>{{cand?.name}}</td>
                                <td>{{cand?.email}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-info float-right" (click)="createQuestion(jobcands?.interviewRoundCandi)">Create Question</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
