<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">


            <a class="navbar-brand waves-effect" href="/client">
                <strong class="blue-text">CyberLogitec</strong>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect" href="/client">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav nav-flex-icons" *ngIf="user_current ==null">

                    <li class="nav-item">
                        <a href="/auth/login-guest" class="nav-link waves-effect">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/auth/register" class="nav-link border border-light rounded waves-effect">
                            Register
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-flex-icons" *ngIf="user_current !=null">

                    <li class="nav-item">
                        <a href="/client/prof" class="nav-link waves-effect">
                            Hi <span class="text-info">{{user_current.username}} </span>!
                        </a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-link text-warning" (click)="logoutButtonAction()">
                            LOGOUT
                        </button>
                    </li>
                </ul>


            </div>

        </div>
    </nav>

</header>

<main class="mt-5 pt-5">
    <div class="container">


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Generate your resume</h4>
                    </div>
                    <div class="card-body">
                        <div class="row col-12">
                            <app-resume-gen-school-editor class="col-12 row"></app-resume-gen-school-editor>
                        </div>


                    </div>
                </div>
            </div>
        </div>





    </div>
</main>

<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn ">
    <hr class="my-4">
    <div class="footer-copyright py-3">
        © 2019 Copyright:
        <a href="#" target="_blank"> CyberLogitec </a>
    </div>


</footer>
