<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">


            <a class="navbar-brand waves-effect" href="/client">
                <strong class="blue-text">Douholding Networks</strong>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect" href="/client">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav nav-flex-icons" *ngIf="user_current !=null">

                    <li class="nav-item">
                        <a href="/client/prof" class="nav-link waves-effect">
                            Hi <span class="text-info">{{user_current.username}} </span>!
                        </a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-link text-warning" (click)="logoutButtonAction()">
                            LOGOUT
                        </button>
                    </li>
                </ul>

            </div>

        </div>
    </nav>

</header>

<main class="mt-5 pt-5">
    <div class="container">


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Your profile</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">

                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn fixed-bottom">


    <hr class="my-4">


    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> Douholding Network </a>
    </div>
    <!--/.Copyright-->

</footer>
