<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-rose">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Tasks:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#profile" data-toggle="tab">
                                            <i class="material-icons">person</i> One CV
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#messages" data-toggle="tab">
                                            <i class="material-icons">people</i> Many CVs
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <form method="get" action="/" class="form-horizontal">
                                    <div class="col col-sm-6 float-left">
                                        <div class="col-sm-12 d-flex justify-content-center">
                                            <div class="  center-block">
                                                <div class="fileinput fileinput-new text-center"
                                                     data-provides="fileinput">
                                                    <div class="fileinput-new thumbnail img-circle">
                                                        <img src="./assets/img/placeholder.jpg" alt="...">
                                                    </div>
                                                    <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                                                    <div>
                                                    <span class="btn btn-round btn-rose btn-file">
                                                        <span class="fileinput-new">Add Photo</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="..."/>
                                                    </span>
                                                        <br/>
                                                        <a href="#pablo"
                                                           class="btn btn-danger btn-round fileinput-exists"
                                                           data-dismiss="fileinput"><i class="fa fa-times"></i>
                                                            Remove</a>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="row">

                                              <span class="bmd-form-group col-sm-12 d-flex  justify-content-center ">
                                                <div class="input-group col-sm-8 ">
                                                    <div class="input-group-prepend">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">work</i>
                                                          </span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                           placeholder="Job position to apply...">
                                                </div>
                                            </span>

                                        </div>
                                        <div class="row">
                                            <span class="bmd-form-group col-sm-6 float-left ">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">face</i>
                                                          </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="First Name...">
                                                </div>
                                            </span>
                                            <span class="bmd-form-group col-sm-6 float-left ">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">people</i>
                                                          </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Last Name...">
                                                </div>
                                            </span>
                                        </div>
                                        <div class="row">
                                             <span class="bmd-form-group col-sm-6  ">
                                                <div class="input-group float-left ">
                                                    <div class="input-group-prepend float-left">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">cake</i>
                                                          </span>
                                                    </div>
                                                    <mat-form-field class="col-sm-9 float-left p-0">
                                                        <input matInput [matDatepicker]="picker"
                                                               class="float-left mr-auto"
                                                               placeholder="Date of birth"
                                                               (click)="picker.open()">
                                                        <mat-datepicker-toggle matSuffix
                                                                               [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </span>
                                            <span class="bmd-form-group col-sm-6  ">
                                                <div class="input-group float-left ">
                                                    <div class="input-group-prepend float-left">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">wc</i>
                                                          </span>
                                                    </div>

                                                        <mat-form-field class="col-sm-9 float-left p-0">
                                                            <mat-select placeholder="Gender" name="gender">
                                                              <mat-option *ngFor="let city of cities"
                                                                          [value]="city.value">
                                                                {{ city.viewValue }}
                                                              </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                </div>
                                            </span>

                                        </div>
                                        <div class="row">
                                            <span class="bmd-form-group col-sm-6 float-left ">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">phone</i>
                                                          </span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                           placeholder="Phone number...">
                                                </div>
                                            </span>
                                            <span class="bmd-form-group col-sm-6 float-left ">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">email</i>
                                                          </span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                           placeholder="Email address...">
                                                </div>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <span class="bmd-form-group col-sm-12 float-left ">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">location_on</i>
                                                          </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Address...">
                                                </div>
                                            </span>

                                        </div>
                                        <div class="row">
                                            <span class="bmd-form-group col-sm-12 float-left ">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">info</i>
                                                          </span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                           placeholder="More infomation...">
                                                </div>
                                            </span>

                                        </div>
                                        <div class="row">

                                            <div class="card col-sm-12 ">
                                                <div class="card-header">
                                                    <h4 class="card-title">
                                                        Objective</h4>
                                                </div>
                                                <div class="card-body">
                                                    <mat-form-field class="float-left example-full-width">
                                                    <textarea matInput rows="10"
                                                    >
                                                    </textarea>
                                                    </mat-form-field>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="card col-sm-12 ">
                                                <div class="card-header">
                                                    <h4 class="card-title">
                                                        Hobbies</h4>
                                                </div>
                                                <div class="card-body">
                                                    <tag-input [(ngModel)]='regularItems' theme='filled-theme'
                                                               ng></tag-input>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="card col-sm-12">
                                                <div class="card-header">
                                                    <h4 class="card-title">
                                                        Skills</h4>
                                                </div>

                                                <div class="card-body col-sm-11 ml-auto">
                                                    <mat-form-field>
                                                        <mat-select multiple placeholder="Multiple skill"
                                                                    [(ngModel)]="currentSkill" name="Skills"
                                                                    ariaLabel="skills[0]">
                                                            <mat-option *ngFor="let skill of skills"
                                                                        [value]="skill.value">
                                                                {{ skill.viewValue }}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <div *ngFor="let skill of currentSkill">
                                                        <legend> {{skill}}</legend>
                                                        <br>
                                                        <nouislider [connect]="true" [min]="0" [max]="10" [step]="1"
                                                                    [(ngModel)]="simpleSlider" [tooltips]="true"
                                                                    class="slider"></nouislider>
                                                        <br>

                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="card col-sm-12">
                                                <div class="card-header">
                                                    <h4 class="card-title">
                                                        Notes</h4>
                                                </div>
                                                <div class="card-body col-sm-11 ml-auto">
                                                    <input type="file" multiple="multiple" ngModel="fileNote">
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col col-md-5 float-right">
                                        <div class="row">

                                            <div class="card col-sm-12 ">
                                                <div class="card-header">
                                                    <h4 class="card-title">
                                                        Education</h4>
                                                </div>
                                                <div class="card-body">
                                                    <mat-form-field class="float-left example-full-width">
                                                    <textarea matInput rows="5">
                                                    </textarea>
                                                    </mat-form-field>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="card col-sm-12 ">
                                                <div class="card-header">
                                                    <h4 class="card-title">
                                                        Work experience</h4>
                                                </div>
                                                <div class="card-body">
                                                    <mat-form-field class="float-left example-full-width">
                                                    <textarea matInput rows="5">
                                                    </textarea>
                                                    </mat-form-field>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="card col-sm-12 ">
                                                <div class="card-header">
                                                    <h4 class="card-title">
                                                        Certificate</h4>
                                                </div>
                                                <div class="card-body">
                                                    <mat-form-field class="float-left example-full-width">
                                                    <textarea matInput rows="5">
                                                    </textarea>
                                                    </mat-form-field>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="card col-sm-12 ">
                                                <div class="card-header">
                                                    <h4 class="card-title">
                                                        Activity</h4>
                                                </div>
                                                <div class="card-body">
                                                    <mat-form-field class="float-left example-full-width">
                                                    <textarea matInput rows="5">
                                                    </textarea>
                                                    </mat-form-field>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="card col-sm-12 ">
                                                <div class="card-header">
                                                    <h4 class="card-title">
                                                        Certificate</h4>
                                                </div>
                                                <div class="card-body">
                                                    <mat-form-field class="float-left example-full-width">
                                                    <textarea matInput rows="5">
                                                    </textarea>
                                                    </mat-form-field>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="card col-sm-12 ">
                                                <div class="card-header">
                                                    <h4 class="card-title">
                                                        Award</h4>
                                                </div>
                                                <div class="card-body">
                                                    <mat-form-field class="float-left example-full-width">
                                                    <textarea matInput rows="5">
                                                    </textarea>
                                                    </mat-form-field>

                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                </form>


                            </div>
                            <div class="tab-pane " id="messages">
                                <div class="col col-sm-12 float-left">
                                    <div class="row col-sm-6">
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">

                                    </div>
                                    <div class="row mt-md-4">
                                        <table class="table table-hover">
                                            <thead class="text-warning">
                                            <th><input type="checkbox" class=" small-2 columns"></th>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Date apply</th>
                                            <th>DoB</th>

                                            </thead>
                                            <tbody>
                                            <tr data-toggle="modal" data-target="#noticeModal">
                                                <td><input type="checkbox" class=" small-2 columns"></td>
                                                <td>1</td>
                                                <td>Java Web</td>
                                                <td>Member</td>
                                                <td>30/10</td>

                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" class="" id="exampleCheck1"></td>

                                                <td>2</td>
                                                <td>Mobile developer</td>
                                                <td>Member</td>
                                                <td>6/10</td>

                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" class="" id="exampleCheck1"></td>

                                                <td>3</td>
                                                <td>Dev full stack</td>
                                                <td>Member</td>
                                                <td>4/10</td>

                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" class="" id="exampleCheck1"></td>

                                                <td>4</td>
                                                <td>VisualBasic</td>
                                                <td>Leader</td>
                                                <td>8/10</td>


                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-notice">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <div class="col-sm-12 d-flex justify-content-center">
                                                            <div class="  center-block">
                                                                <div class="fileinput fileinput-new text-center"
                                                                     data-provides="fileinput">
                                                                    <div class="fileinput-new thumbnail img-circle">
                                                                        <img src="./assets/img/placeholder.jpg"
                                                                             alt="...">
                                                                    </div>
                                                                    <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                                                                    <div>
                                                                        <span class="btn btn-round btn-rose btn-file">
                                                                            <span class="fileinput-new">Add Photo</span>
                                                                            <span class="fileinput-exists">Change</span>
                                                                            <input type="file" name="..."/>
                                                                        </span>
                                                                        <br/>
                                                                        <a href="#pablo"
                                                                           class="btn btn-danger btn-round fileinput-exists"
                                                                           data-dismiss="fileinput"><i
                                                                                class="fa fa-times"></i>
                                                                            Remove</a>
                                                                    </div>
                                                                </div>

                                                            </div>


                                                        </div>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                              <span class="bmd-form-group col-sm-12 d-flex  justify-content-center ">
                                                                <div class="input-group col-sm-8 ">
                                                                    <div class="input-group-prepend">
                                                                          <span class="input-group-text">
                                                                            <i class="material-icons">work</i>
                                                                          </span>
                                                                    </div>
                                                                    <input type="text" class="form-control"
                                                                           placeholder="Job position to apply...">
                                                                </div>
                                                            </span>
                                                        </div>
                                                        <div class="row">
                                            <span class="bmd-form-group col-sm-6 float-left ">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">face</i>
                                                          </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="First Name...">
                                                </div>
                                            </span>
                                                            <span class="bmd-form-group col-sm-6 float-left ">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">people</i>
                                                          </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Last Name...">
                                                </div>
                                            </span>
                                                        </div>
                                                        <div class="row">
                                             <span class="bmd-form-group col-sm-6  ">
                                                <div class="input-group float-left ">
                                                    <div class="input-group-prepend float-left">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">cake</i>
                                                          </span>
                                                    </div>
                                                    <mat-form-field class="col-sm-8 float-left">
                                                        <input matInput [matDatepicker]="detailPicker"
                                                               class="float-left"
                                                               placeholder="Date of birth"
                                                        >
                                                        <mat-datepicker-toggle matSuffix
                                                                               [for]="detailPicker"></mat-datepicker-toggle>
                                                        <mat-datepicker #detailPicker></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </span>
                                                            <span class="bmd-form-group col-sm-6  ">
                                                <div class="input-group float-left ">
                                                    <div class="input-group-prepend float-left">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">wc</i>
                                                          </span>
                                                    </div>

                                                        <mat-form-field class="col-sm-8 float-left">
                                                            <mat-select placeholder="Gender" name="detailGender">
                                                              <mat-option *ngFor="let city of cities"
                                                                          [value]="city.value">
                                                                {{ city.viewValue }}
                                                              </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                </div>
                                            </span>

                                                        </div>
                                                        <div class="row">
                                            <span class="bmd-form-group col-sm-6 float-left ">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">phone</i>
                                                          </span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                           placeholder="Phone number...">
                                                </div>
                                            </span>
                                                            <span class="bmd-form-group col-sm-6 float-left ">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">email</i>
                                                          </span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                           placeholder="Email address...">
                                                </div>
                                            </span>
                                                        </div>
                                                        <div class="row">
                                            <span class="bmd-form-group col-sm-12 float-left ">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">location_on</i>
                                                          </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Address...">
                                                </div>
                                            </span>

                                                        </div>
                                                        <div class="row">
                                            <span class="bmd-form-group col-sm-12 float-left ">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                          <span class="input-group-text">
                                                            <i class="material-icons">info</i>
                                                          </span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                           placeholder="More infomation...">
                                                </div>
                                            </span>

                                                        </div>
                                                        <div class="row">

                                                            <div class="card col-sm-12 ">
                                                                <div class="card-header">
                                                                    <h4 class="card-title">
                                                                        Objective</h4>
                                                                </div>
                                                                <div class="card-body">
                                                                    <mat-form-field
                                                                            class="float-left example-full-width">
                                                    <textarea matInput rows="10"
                                                    >
                                                    </textarea>
                                                                    </mat-form-field>

                                                                </div>
                                                            </div>

                                                        </div>


                                                    </div>
                                                    <div class="modal-footer justify-content-center">
                                                        <button mat-raised-button type="button"
                                                                class="btn btn-info btn-round" data-dismiss="modal">
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row float-right">
                                        <button mat-raised-button
                                                class="btn btn-danger float-right d-flex justify-content-end">Remove
                                        </button>
                                        <button mat-raised-button
                                                class="btn btn-warning float-right d-flex justify-content-end">Save
                                        </button>

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
