<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">weekend</i>
                        </div>
                        <p class="card-category">Job new</p>
                        <h3 class="card-title">{{reportData[5]}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
<!--                            <i class="material-icons text-danger">warning</i>-->
<!--                            <a href="#pablo">Get More Space...</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">equalizer</i>
                        </div>
                        <p class="card-category">Candidate apply</p>
                        <h3 class="card-title">{{reportData[0]}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
<!--                            <i class="material-icons">local_offer</i> -->
<!--                            At month-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Waited</p>
                        <h3 class="card-title">{{reportData[1]}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
<!--                            <i class="material-icons">date_range</i> -->
<!--                            Last 24 Hours-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Viewed</p>
                        <h3 class="card-title">{{reportData[2]}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
<!--                            <i class="material-icons">update</i> -->
<!--                            Just Updated-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Interviewed</p>
                        <h3 class="card-title">{{reportData[3]}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
<!--                            <i class="material-icons">update</i> Just Updated-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Offered</p>
                        <h3 class="card-title">{{reportData[4]}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
<!--                            <i class="material-icons">update</i> Just Updated-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-rose" data-header-animation="true">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <div class="card-actions">
                            <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button mat-raised-button type="button" class="btn btn-info btn-link"
                                    matTooltip="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button mat-raised-button type="button" class="btn btn-default btn-link"
                                    matTooltip="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title">Candidate apply</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success" data-header-animation="true">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <div class="card-actions">
                            <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button mat-raised-button type="button" class="btn btn-info btn-link"
                                    matTooltip="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button mat-raised-button type="button" class="btn btn-default btn-link"
                                    matTooltip="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title">Offer success</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in
                            today.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info" data-header-animation="true">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <div class="card-actions">
                            <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button mat-raised-button type="button" class="btn btn-info btn-link"
                                    matTooltip="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button mat-raised-button type="button" class="btn btn-default btn-link"
                                    matTooltip="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title">Probation complete</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
