<div class="main-content">
    <div class="container-fluid">
<!--        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Fillter</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="row">
                            <div class="bmd-form-group col-6  ">
                                <div class="input-group float-left ">
                                    <div class="input-group-prepend float-left">
                                                          <span class="input-group-text">
                                                          Search
                                                          </span>
                                    </div>
                                    <div class="col-9 ml-auto">
                                        <mat-form-field class="example-full-width">
                                            <textarea matInput placeholder="Search anything"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="bmd-form-group col-6  ">
                                <div class="input-group float-left ">
                                    <div class="input-group-prepend float-left">
                                                          <span class="input-group-text">
                                                           Job type
                                                          </span>
                                    </div>
                                    <div class="col-9 ml-auto">
                                        <mat-form-field>
                                            <mat-select multiple placeholder="Multiple skill"
                                                        [(ngModel)]="currentSkill" name="Skills"
                                                        ariaLabel="skills[0]">
                                                <mat-option *ngFor="let skill of skills"
                                                            [value]="skill.value">
                                                    {{ skill.viewValue }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="bmd-form-group col-6  ">
                                <div class="input-group float-left ">
                                    <div class="input-group-prepend float-left">
                                                          <span class="input-group-text">
                                                           Sources
                                                          </span>
                                    </div>
                                    <div class="col-9 ml-auto">
                                        <mat-form-field>
                                            <mat-select multiple placeholder="Multiple source"
                                                        [(ngModel)]="currentSource" name="Sources"
                                                        ariaLabel="skills[0]">
                                                <mat-option *ngFor="let skill of sources"
                                                            [value]="skill.value">
                                                    {{ skill.viewValue }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="bmd-form-group col-6">
                                <div class="input-group float-left ">
                                    <div class="input-group-prepend float-left">
                                                          <span class="input-group-text">
                                                           From date
                                                          </span>
                                    </div>
                                    <div class="col-9 ml-auto">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker"
                                                   class="float-left mr-auto"
                                                   placeholder="Date of birth"
                                                   (click)="picker.open()">
                                            <mat-datepicker-toggle matSuffix
                                                                   [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="bmd-form-group col-6  ">
                                <div class="input-group float-left ">
                                    <div class="input-group-prepend float-left">
                                                          <span class="input-group-text">
                                                           To date:
                                                          </span>
                                    </div>
                                    <div class="col-9  ml-auto">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker1"
                                                   class="float-left mr-auto"
                                                   placeholder="Date of birth"
                                                   (click)="picker.open()">
                                            <mat-datepicker-toggle matSuffix
                                                                   [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row float-right card-body">
                            <button mat-raised-button class="btn btn-success">Fillter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">List Candidates</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table mat-table [dataSource]="dataSource"
                               class="table table-striped table-bordered mat-elevation-z8 text-warning">
                            <ng-container matColumnDef="selected">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                                  [checked]="selection.hasValue() && isAllSelected()"
                                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                                  (change)="$event ? selection.toggle(row) : null"
                                                  [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef class="text-warning"> Name</th>
                                <td mat-cell *matCellDef="let element"> {{element.candidateName}}</td>
                            </ng-container>
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef class="text-warning"> Position</th>
                                <td mat-cell *matCellDef="let element"> {{element.position}}</td>
                            </ng-container>
                            <ng-container matColumnDef="jobName">
                                <th mat-header-cell *matHeaderCellDef class="text-warning"> Job</th>
                                <td mat-cell *matCellDef="let element"> {{element.jobName}}</td>
                            </ng-container>

                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef class="text-warning"> Application Date</th>
                                <td mat-cell *matCellDef="let element"> {{formatDate(element.createDateTime)}}</td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class="text-warning"> Action</th>
                                <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                                    <a [routerLink]="['/admin/candidate/profile',{jobcandID: element.id,candidateID: element.candidateID}]"
                                       target="_blank"
                                       class="mat-mini-fab btn-info action-button">
                                        <i class="material-icons">person</i>
                                    </a>
                                    <!--<button mat-mini-fab="mat-mini-fab btn-info action-button" type="button"-->
                                    <!--class="btn btn-danger action-button" (click)="InfoCandiClick('/candidate/profile',element.id)">-->
                                    <!--<i class="material-icons">person</i>-->
                                    <!--</button>-->
                                    <!--    <button mat-mini-fab="edit" type="button" class="btn btn-success action-button">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-mini-fab="remove" type="button" class="btn btn-danger action-button">
                                            <i class="material-icons">delete</i>
                                        </button>-->
                                    <button mat-mini-fab="point" type="button" class="btn btn-danger action-button"
                                            (click)="reviewCandidate(element.jobID,element.candidateID,element.id)">
                                        <i class="material-icons">rate_review</i>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                (click)="onCandidateClick(row)"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
                <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-notice">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myModalLabel">How Do You Become an Affiliate?</h5>
                                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="instruction">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <strong>1. Register</strong>
                                            <p class="description">The first step is to create an account at
                                                <a href="https://www.creative-tim.com/">Creative Tim</a>. You can choose
                                                a social network or go for the classic version, whatever works best for
                                                you.</p>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="picture">
                                                <img src="./assets/img/card-1.jpg" alt="Thumbnail Image"
                                                     class="rounded img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="instruction">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <strong>2. Apply</strong>
                                            <p class="description">The first step is to create an account at
                                                <a href="https://www.creative-tim.com/">Creative Tim</a>. You can choose
                                                a social network or go for the classic version, whatever works best for
                                                you.</p>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="picture">
                                                <img src="./assets/img/card-2.jpg" alt="Thumbnail Image"
                                                     class="rounded img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>If you have more questions, don't hesitate to contact us or send us a tweet
                                    @creativetim. We're here to help!</p>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button mat-raised-button type="button" class="btn btn-info btn-round"
                                        data-dismiss="modal">Sounds good!
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
