<!--<div class="main-content">-->
<!--<div class="container-fluid">-->
<mat-dialog-content class="mat-typography" style="max-height: 100%;">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="card card-profile">
                <div class="card-avatar" style="margin: auto">
                    <a href="#pablo">
 <!--                       <img class="img" src="./assets/img/faces/marc.jpg"/>-->
                        <img src="./assets/img/tim_80x80.png"/>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h4 class="card-title"> {{dataFeedback?.name}}</h4>
                    <div class="row float-left col-lg-12">
                        <div>
                            <label style="float: left;">Email:  </label>
                            <span><B> &nbsp; {{dataFeedback?.email}} </B></span>
                        </div>
                    </div>
                    <div class="row float-left col-lg-12">
                        <div>
                            <label style="float: left;">Position Apply: </label>
                            <span><B>  &nbsp; {{dataFeedback?.p_apply}} </B></span>
                        </div>
                    </div>
                    <div class="row float-left col-lg-12">
                        <div>
                            <label style="float: left;">Round: </label>
                            <span><B>  &nbsp; {{dataFeedback?.round}} </B></span>
                        </div>
                    </div>
                    <a href="#pablo" class="btn btn-rose btn-round" data-toggle="modal"
                       style="margin-right: 10px" data-target="#modal-pdfpreview">view CV</a>
                </div>
            </div>
            <div class="modal fade bd-example-modal-lg" id="modal-pdfpreview" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog modal-lg vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">x</span>
                                </button>
                            </div>
                            <div *ngIf="dataFeedback?.urlCV">
                                <embed [src]="getURLCV()" width="100%" height="600" alt="pdf">
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <div class="card card-profile">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Job Detail</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="content">
                        <div class="row float-left col-lg-12">
                            <div>
                                <label style="float: left;">Job Name: </label>
                                <span><B> {{dataFeedback?.jobName}} </B></span>
                            </div>
                        </div>
                        <div class="row float-left col-lg-12">
                            <div>
                                <label>Date Interview: </label>
                                <span><B> {{dataFeedback?.date_Interview}} </B></span>
                            </div>
                        </div>
                        <div class="row float-left col-lg-12">
                            <div>
                                <label>Address: </label>
                                <span><B> {{dataFeedback?.address}} </B></span>
                            </div>
                        </div>
                        <div class="row float-left col-lg-12">
                            <div>
                                <label>Position Recruitment: </label>
                                <span><B> {{dataFeedback?.p_Recruitment}} </B></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-3">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Question Interview</h4>
                </div>
                <div class="card-body table-responsive" >
                    <div class="row float-left col-lg-12">
                        <div id="render-wrap1" >
                            <form class="form-horizontal ng-untouched ng-pristine ng-valid"
                                  style=" padding: 10px 0px 0px 30px;" >
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-dialog-actions id="dialog-end" align="end">
        <button type="button" class="btn btn-file float-right" (click)="falseInterview()" style="margin: 10px;">False</button>
        <button type="button" class="btn btn-success float-right" style="margin: 10px;" (click)="passInterview()">Pass</button>
        <button type="button" class="btn btn-success float-right" style="margin: 10px;" (click)="offerInterview()">Offer</button>
        <button type="button" class="btn btn-info float-right" cdkFocusInitial mat-dialog-close style="margin: 10px;">Cancel</button>
    </mat-dialog-actions>
</mat-dialog-content>
<!--</div>-->
<!--</div>-->


