<mat-dialog-content class="mat-typography" style="max-height: 100%;">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Job Detail</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="content">
                        <div class="row col-12">
                            <div>
                                <label>Job name: </label>
                                <span><B>  {{dataReview?.jobName}} </B></span>
                            </div>
                        </div>
                        <div class="row float-left col-lg-12">
                            <div>
                                <label>Position Recruitment: </label>
                                <span><B> {{dataReview?.position}} </B></span>
                            </div>
                        </div>
                        <div class="row float-left col-lg-12">
                            <div>
                                <label>Job Description: </label>
                                <p *ngFor="let description of jobDescription" style="margin-left: 10px;">
                                    <span><B> - {{description}} </B></span>
                                </p>
                            </div>
                        </div>
                        <div class="row float-left col-lg-12">
                            <div>
                                <label>Job Requirement: </label>
                                <p *ngFor="let requirement of jobRecruitment" style="margin-left: 10px;">
                                    <span><B> - {{requirement}} </B></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Job Config</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="content">
                        <div class="row float-left col-lg-12">
                            <div>
                                <div *ngFor="let jobConfigDetail of jobConfigDetails " style="margin-left: 10px;">
                                    <span><B> - {{jobConfigDetail?.configTypeName}} </B></span>
                                    <div *ngFor="let detail of jobConfigDetail.detail">
                                        <span style="margin-left: 20px;"><B>+ {{detail?.configName}}: </B></span>
                                        <p *ngFor="let object of (detail?.content)" style="margin-left: 20px;">
                                            <span style="margin-left: 20px;"><B> • {{object?.key}}: </B></span>
                                            <span><B>{{object?.value}} </B></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Candidate Detail</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="row float-left col-lg-12">
                        <div>
                            <div *ngFor="let resumeDetail of resumeDetails " style="margin-left: 10px;">
                                <span><B> - {{resumeDetail?.header}} </B></span>
                                <div *ngFor="let detail of resumeDetail?.detail">
                                    <span *ngIf="detail?.subHeader"
                                          style="margin-left: 20px;"><B>+ {{detail?.subHeader}}: </B></span>
                                    <div *ngIf="resumeDetail?.header !== 'OTHERS'; else elseBlock">
                                        <div *ngIf="resumeDetail?.header !== 'SKILLS'; else elseBlock">
                                            <p *ngFor="let object of (detail?.content)" style="margin-left: 20px;">
                                            <span *ngIf="resumeDetail?.header !== 'ACCOMPLISHMENTS'" style="margin-left: 20px;">
                                                <B> • {{object?.key}}: </B></span>
                                                <span><B>{{object?.value}} </B></span>
                                            </p>
                                        </div>
                                    </div>
                                    <ng-template #elseBlock>
                                        <p *ngFor="let object of (detail?.content) | slice: 1;let i = index" style="margin-left: 20px;">
                                            <span style="margin-left: 20px;">
                                                <B> • {{detail?.content[i]?.value}} :  {{detail?.content[i+1]?.value}} </B>
                                            </span>
                                        </p>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-dialog-actions id="dialog-end" align="end">
        <button type="button" class="btn btn-file float-right" (click)="falseReview()">False</button>
        <button type="button" class="btn btn-success float-right"
                cdkFocusInitial mat-dialog-close (click)="passReview()">Pass</button>
        <button type="button" class="btn btn-info float-right"
                cdkFocusInitial mat-dialog-close >Cancel</button>
    </mat-dialog-actions>
</mat-dialog-content>


