<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">All Job</p>
                        <h3 class="card-title">{{listJob.length}}
                            <small>JOB</small>
                        </h3>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>STT</th>
                            <th>Name</th>
                            <th>Position</th>
                            </thead>
                            <tbody >
                            <tr *ngFor ="let job of listJob; index as i" (click)="getJobDetail(job)">
                                <td>{{i+1}}</td>
                                <td>{{job?.jobName}}</td>
                                <td>{{job?.position}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example" class="float-right">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Job description</p>

                    </div>
                    <div class="card-body ">
                        <div class="content">
                            <div class="row col-12">
                                <div>
                                    <label>Job name: </label>
                                    <span><B>  {{dataSource.interviewCandiSubject.value[0]?.jobname}} </B></span>
                                </div>
                            </div>
                            <div class="row float-left col-lg-12">
                                <div>
                                    <label>Number of recruitment: </label>
                                    <span><B>  {{dataSource.interviewCandiSubject.value[0]?.numberRecruitment}}</B></span>
                                </div>
                            </div>
                            <div class="row float-left col-lg-12">
                                <div>
                                    <label>RoundTotal: </label>
                                    <span><B>  {{dataSource.interviewCandiSubject.value[0]?.jobRound}}</B></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 ">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">List Candidate apply</p>
                     <!--   <h3 class="card-title">{{dataSource.length}}</h3>-->
                    </div>
                    <div class="card-body table-responsive">
                        <table mat-table [dataSource]="dataSource"
                               class="table table-striped table-bordered mat-elevation-z8 text-warning text-left">
                            <!--<ng-container matColumnDef="selected">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                                  [checked]="selection.hasValue() && isAllSelected()"
                                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                                  (change)="$event ? selection.toggle(row) : null"
                                                  [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>-->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef class="text-warning"> Name</th>
                                <td mat-cell *matCellDef="let element"> {{element.candidateName}}</td>
                            </ng-container>
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef class="text-warning"> Email</th>
                                <td mat-cell *matCellDef="let element"> {{element.email}}</td>
                            </ng-container>
                            <ng-container matColumnDef="phoneNumber">
                                <th mat-header-cell *matHeaderCellDef class="text-warning"> Phone Number</th>
                                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}}</td>
                            </ng-container>

                            <ng-container matColumnDef="dateApply">
                                <th mat-header-cell *matHeaderCellDef class="text-warning"> Date Appy</th>
                                <td mat-cell *matCellDef="let element"> {{element.createdDate}}</td>
                            </ng-container>
                            <ng-container matColumnDef="round">
                                <th mat-header-cell *matHeaderCellDef class="text-warning"> Round</th>
                                <td mat-cell *matCellDef="let element"> {{element.interviewRound}}</td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef class="text-warning"> Status</th>
                                <td mat-cell *matCellDef="let element"> {{element.statusInterview}}</td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class="text-warning"> Detail</th>
                                <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                                    <button mat-mini-fab="point" type="button" class="btn btn-danger action-button"
                                            (click)="detailInterviewDialog(element?.jobcanID)" >
                                        <i class="material-icons">rate_review</i>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <button type="button" class="btn btn-info float-right" (click)="scheduleActionButton()">Schedule</button>
                        <mat-paginator [length]="10" [pageSize]="3" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
