<div class="accordion col-12" id="accordionResumeContent" *ngIf="!preview">
    <div class="card">
        <div class="card-header" id="headingPersonalDetails">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapsePersonalDetails" aria-expanded="false"
                        aria-controls="collapsePersonalDetails">
                    <b>Personal Details</b>
                </button>
            </h2>
        </div>
        <div id="collapsePersonalDetails" class="collapse" aria-labelledby="headingOne"
             data-parent="#accordionResumeContent">
            <div class="card-body">
                <div class="col-12">
                    <div class="col-4 float-left">
                        <div class="bmd-form-group col-12 float-left">
                            <div class="input-group">
                                <mat-form-field class="float-left example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="First name *"
                                           [ngModel]="resume.person.firstName"
                                           (ngModelChange)="resume.person.firstName = $event">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 float-left">
                        <div class="bmd-form-group col-12 float-left">
                            <div class="input-group">
                                <mat-form-field class="float-left example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="Last name *"
                                           [ngModel]="resume.person.lastName"
                                           (ngModelChange)="resume.person.lastName = $event"
                                    >
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 float-left">
                        <div class="bmd-form-group col-12 float-left">
                            <div class="input-group">
                                <mat-form-field class="float-left example-full-width">
                                    <input matInput type="date" max={{minBirthDay}}
                                           class="form-control" placeholder="Birth day *"
                                           [ngModel]="resume.person.birthday"
                                           (ngModelChange)="resume.person.birthday = $event">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 float-left">
                        <div class="bmd-form-group col-12 float-left">
                            <div class="input-group">
                                <mat-form-field class="float-left example-full-width">

                                    <mat-select [ngModel]="resume.person.gender"
                                                (ngModelChange)="resume.person.gender = $event">
                                        <mat-option value="Male" selected="selected">Male</mat-option>
                                        <mat-option value="Female">Female</mat-option>
                                        <mat-option value="Other">Other</mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 float-left">
                        <div class="bmd-form-group col-12 float-left">
                            <div class="input-group">
                                <mat-form-field class="float-left example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="Email *"
                                           [ngModel]="resume.person.email"
                                           (ngModelChange)="resume.person.email = $event">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 float-left">
                        <div class="bmd-form-group col-12 float-left">
                            <div class="input-group">
                                <mat-form-field class="float-left example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="Phone number"
                                           [ngModel]="resume.person.phoneNumber"
                                           (ngModelChange)="resume.person.phoneNumber = $event">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 float-left">
                        <div class="bmd-form-group col-12 float-left">
                            <div class="input-group">
                                <mat-form-field class="float-left example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="Address"
                                           [ngModel]="resume.person.address"
                                           (ngModelChange)="resume.person.address = $event">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 float-left">
                        <div class="bmd-form-group col-12 float-left">
                            <div class="input-group">
                                <mat-form-field class="float-left example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="Website"
                                           [ngModel]="resume.person.website"
                                           (ngModelChange)="resume.person.website = $event">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 float-left">
                        <div class="bmd-form-group col-12 float-left">
                            <div class="input-group">
                                <mat-form-field class="float-left example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="Job title"
                                           [ngModel]="resume.person.jobTitle"
                                           (ngModelChange)="resume.person.jobTitle = $event">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="bmd-form-group col-12 float-left">
                            <div class="input-group">
                                <mat-form-field class="float-left example-full-width">
                                    <textarea rows="3" matInput placeholder="Objective" class="form-control"
                                              [ngModel]="resume.person.objective"
                                              (ngModelChange)="resume.person.objective = $event"
                                    ></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingAccomplishments">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseAccomplishments" aria-expanded="false"
                        aria-controls="collapseAccomplishments">
                    <b>Accomplishments</b>
                </button>
            </h2>
        </div>
        <div id="collapseAccomplishments" class="collapse" aria-labelledby="headingAccomplishments"
             data-parent="#accordionResumeContent">
            <div class="card-body">
                <div class="col-12">
                    <p *ngIf="!resume.accomplishments || resume.accomplishments.length === 0">
                        No accomplishments. Please add some.</p>
                    <div *ngFor="let accomplishment of resume.accomplishments; let i = index; trackBy:customTrackBy"
                         class="col-12">
                        <div class="row col-12">
                            <div class="col-10 float-left">
                                <div class="bmd-form-group col-12 float-left">
                                    <div class="input-group">
                                        <mat-form-field class="float-left example-full-width">
                                            <input matInput type="text" class="form-control"
                                                   placeholder="Accomplishment"
                                                   [ngModel]="resume.accomplishments[i].value"
                                                   (ngModelChange)="resume.accomplishments[i].value = $event">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-danger" (click)="resume.accomplishments.splice(i,1)">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" (click)="addAccomplishment()">Add Accomplishment</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSkill">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSkill"
                        aria-expanded="false" aria-controls="collapseSkill">
                    <b>Skills</b>
                </button>
            </h2>
        </div>
        <div id="collapseSkill" class="collapse" aria-labelledby="headingSkill" data-parent="#accordionResumeContent">
            <div class="card-body col-12">
                <div *ngIf="resume.skills && resume.skills.length > 0">
                    <div class="row col-12"
                         *ngFor="let skill of resume.skills; let skill_index = index; trackBy:customTrackBy">

                        <div class=" col-12 float-left">
                            <mat-form-field class="float-left col-4">
                                <input matInput type="text" class="form-control" placeholder="Skill name"
                                       [ngModel]="resume.skills[skill_index].key"
                                       (ngModelChange)="resume.skills[skill_index].key = $event">
                            </mat-form-field>
                            <mat-slider class="float-left col-8 mt-4"
                                        [(ngModel)]="resume.skills[skill_index].value"
                                        thumbLabel tickInterval="1"
                                        min="0" max="5"></mat-slider>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-danger" (click)="resume.skills.splice(skill_index,1)">Delete</button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" (click)="addSkill()">Add skill</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingEducation">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseEducation" aria-expanded="false" aria-controls="collapseEducation">
                    <b>Education</b>
                </button>
            </h2>
        </div>
        <div id="collapseEducation" class="collapse" aria-labelledby="headingEducation"
             data-parent="#accordionResumeContent">
            <div class="card-body">
                <div class="accordion col-12" id="accordionEducation">
                    <div class="card">
                        <div class="card-header" id="headingSchoolHistory">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseSchoolHistory" aria-expanded="false"
                                        aria-controls="collapseSchoolHistory">
                                    <b>School History</b>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSchoolHistory" class="collapse" aria-labelledby="headingEducation"
                             data-parent="#accordionEducation">
                            <div class="card-body">
                                <div *ngIf="resume.education && resume.education.schools && resume.education.schools.length > 0"
                                     class="col-12">
                                    <div *ngFor="let school of resume.education.schools; let i = index; trackBy:customTrackBy"
                                         class="col-12">
                                        <div class="col-12">
                                            <div class="col-6 float-left">
                                                <div class="bmd-form-group col-12 float-left">
                                                    <div class="input-group">
                                                        <mat-form-field class="float-left example-full-width">
                                                            <input matInput type="text" class="form-control"
                                                                   placeholder="Name"
                                                                   [ngModel]="resume.education.schools[i].name"
                                                                   (ngModelChange)="resume.education.schools[i].name = $event">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 float-left">
                                                <div class="bmd-form-group col-12 float-left">
                                                    <div class="input-group">
                                                        <mat-form-field class="float-left example-full-width">
                                                            <input matInput type="date" class="form-control"
                                                                   placeholder="Start date"
                                                                   [ngModel]="resume.education.schools[i].startDate"
                                                                   (ngModelChange)="resume.education.schools[i].startDate = $event">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 float-left">
                                                <div class="bmd-form-group col-12 float-left">
                                                    <div class="input-group">
                                                        <mat-form-field class="float-left example-full-width">
                                                            <input matInput type="date" class="form-control"
                                                                   placeholder="End date"
                                                                   [ngModel]="resume.education.schools[i].endDate"
                                                                   (ngModelChange)="resume.education.schools[i].endDate = $event">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="bmd-form-group col-12 float-left">
                                                    <div class="input-group">
                                                        <mat-form-field class="float-left example-full-width">
                                                            <input matInput type="text" class="form-control"
                                                                   placeholder="GPA"
                                                                   [ngModel]="resume.education.schools[i].gpa"
                                                                   (ngModelChange)="resume.education.schools[i].gpa = $event">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="bmd-form-group col-12 float-left">
                                                    <div class="input-group">
                                                        <mat-form-field class="float-left example-full-width">
                                                            <textarea rows="3" matInput placeholder="Summary"
                                                                      class="form-control"
                                                                      [ngModel]="resume.education.schools[i].summary"
                                                                      (ngModelChange)="resume.education.schools[i].summary = $event"></textarea>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="col-12 btn btn-danger"
                                                    (click)="deleteSchool(i)">Delete School
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-success" (click)="addSchool()">Add School</button>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingExaminations">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseExaminations" aria-expanded="false"
                                        aria-controls="collapseExaminations">
                                    <b>Examinations</b>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseExaminations" class="collapse" aria-labelledby="headingExaminations"
                             data-parent="#accordionEducation">
                            <div class="card-body">

                                <div class="col-12">
                                    <div class="col-12"
                                         *ngIf="resume.education && resume.education.examinations && resume.education.examinations.length > 0">
                                        <div *ngFor="let school of resume.education.examinations; let i = index; trackBy:customTrackBy"
                                             class="col-12">
                                            <div class="col-12">
                                                <div class="col-4 float-left">
                                                    <div class="bmd-form-group col-12 float-left">
                                                        <div class="input-group">
                                                            <mat-form-field class="float-left example-full-width">
                                                                <input matInput type="text" class="form-control"
                                                                       placeholder="Name"
                                                                       [ngModel]="resume.education.examinations[i].name"
                                                                       (ngModelChange)="resume.education.examinations[i].name = $event">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4 float-left">
                                                    <div class="bmd-form-group col-12 float-left">
                                                        <div class="input-group">
                                                            <mat-form-field class="float-left example-full-width">
                                                                <input matInput type="date" class="form-control"
                                                                       placeholder="Start date"
                                                                       [ngModel]="resume.education.examinations[i].startDate"
                                                                       (ngModelChange)="resume.education.examinations[i].startDate = $event">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4 float-left">
                                                    <div class="bmd-form-group col-12 float-left">
                                                        <div class="input-group">
                                                            <mat-form-field class="float-left example-full-width">
                                                                <input matInput type="date" class="form-control"
                                                                       placeholder="End date"
                                                                       [ngModel]="resume.education.examinations[i].endDate"
                                                                       (ngModelChange)="resume.education.examinations[i].endDate = $event">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn btn-danger"
                                                        (click)="deleteExamination(i)">Delete examination
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-success" (click)="addExamination()">Add Examination</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingProfessionalWork">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseProfessionalWork" aria-expanded="false"
                        aria-controls="collapseProfessionalWork">
                    <b>Professional Work</b>
                </button>
            </h2>
        </div>
        <div id="collapseProfessionalWork" class="collapse" aria-labelledby="headingProfessionalWork"
             data-parent="#accordionResumeContent">
            <div class="card-body">
                <div class="col-12">
                    <div *ngIf="resume.jobWork && resume.jobWork.length > 0" class="col-12">
                        <div class="row col-12"
                             *ngFor="let jobWork of resume.jobWork; let i = index; trackBy:customTrackBy">
                            <div class="col-3 float-left">
                                <div class="bmd-form-group col-12 float-left">
                                    <div class="input-group">
                                        <mat-form-field class="float-left example-full-width">
                                            <input matInput type="text" class="form-control" placeholder="Company"
                                                   [ngModel]="resume.jobWork[i].company"
                                                   (ngModelChange)="resume.jobWork[i].company = $event">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 float-left">
                                <div class="bmd-form-group col-12 float-left">
                                    <div class="input-group">
                                        <mat-form-field class="float-left example-full-width">
                                            <input matInput type="text" class="form-control" placeholder="Position"
                                                   [ngModel]="resume.jobWork[i].position"
                                                   (ngModelChange)="resume.jobWork[i].position = $event">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 float-left">
                                <div class="bmd-form-group col-12 float-left">
                                    <div class="input-group">
                                        <mat-form-field class="float-left example-full-width">
                                            <input matInput type="date" class="form-control" placeholder="Start date"
                                                   [ngModel]="resume.jobWork[i].startDate"
                                                   (ngModelChange)="resume.jobWork[i].startDate = $event">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 float-left">
                                <div class="bmd-form-group col-12 float-left">
                                    <div class="input-group">
                                        <mat-form-field class="float-left example-full-width">
                                            <input matInput type="date" class="form-control" placeholder="End date"
                                                   [ngModel]="resume.jobWork[i].endDate"
                                                   (ngModelChange)="resume.jobWork[i].endDate = $event">
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="bmd-form-group col-12 float-left">
                                    <div class="input-group">
                                        <mat-form-field class="float-left example-full-width">
                                        <textarea rows="3" matInput placeholder="Sumary" class="form-control"
                                                  [ngModel]="resume.jobWork[i].summary"
                                                  (ngModelChange)="resume.jobWork[i].summary = $event"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion col-12" id="accordionHighlights">
                                <div class="card">
                                    <div class="card-header" id="headingHighlights">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapseHighlights" aria-expanded="false"
                                                    aria-controls="collapseHighlights">
                                                <b>Highlights</b>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseHighlights" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#accordionHighlights">
                                        <div class="card-body col-12">
                                            <div *ngIf="resume.jobWork[i].highlights && resume.jobWork[i].highlights.length > 0"
                                                 class="col-12">
                                                <div class="row col-12"
                                                     *ngFor="let highlights of resume.jobWork[i].highlights; let j = index; trackBy:customTrackBy">
                                                    <div class="row col-12">
                                                        <div class="col-10 float-left">
                                                            <div class="bmd-form-group col-12 float-left">
                                                                <div class="input-group">
                                                                    <mat-form-field
                                                                            class="float-left example-full-width">
                                                                        <input matInput type="text" class="form-control"
                                                                               placeholder="Highlight"
                                                                               [ngModel]="resume.jobWork[i].highlights[j]"
                                                                               (ngModelChange)="resume.jobWork[i].highlights[j] = $event">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-2">
                                                            <button class="btn btn-danger"
                                                                    (click)="resume.jobWork[i].highlights.splice(j,1)">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-success" (click)="addHighlight(resume.jobWork[i])">
                                                Add Highlight
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion col-12" id="accordionKeywords">
                                <div class="card">
                                    <div class="card-header" id="headingKeywords">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapseKeywords" aria-expanded="false"
                                                    aria-controls="collapseKeywords">
                                                <b>Keywords</b>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseKeywords" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#accordionKeywords">
                                        <div class="card-body col-12">
                                            <div *ngIf="resume.jobWork[i].keywords && resume.jobWork[i].keywords.length > 0"
                                                 class="col-12">
                                                <div class="row col-12"
                                                     *ngFor="let keyword of resume.jobWork[i].keywords; let k = index; trackBy:customTrackBy">
                                                    <div class="row col-12">
                                                        <div class="col-10 float-left">
                                                            <div class="bmd-form-group col-12 float-left">
                                                                <div class="input-group">
                                                                    <mat-form-field
                                                                            class="float-left example-full-width">
                                                                        <input matInput type="text" class="form-control"
                                                                               placeholder="Keyword"
                                                                               [ngModel]="resume.jobWork[i].keywords[k]"
                                                                               (ngModelChange)="resume.jobWork[i].keywords[k] = $event">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-2">
                                                            <button class="btn btn-danger"
                                                                    (click)="resume.jobWork[i].keywords.splice(k,1)">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-success" (click)="addKeyword(resume.jobWork[i])">Add
                                                Keyword
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-danger" (click)="deleteJobWork(i)">Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-success " (click)="addJobWork()">Add Professional Work</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingProjects">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseProjects" aria-expanded="false" aria-controls="collapseProjects">
                    <b>Projects</b>
                </button>
            </h2>
        </div>
        <div id="collapseProjects" class="collapse" aria-labelledby="headingProjects"
             data-parent="#accordionResumeContent">
            <div class="card-body col-12">
                <div *ngIf="resume.projects && resume.projects.length > 0">
                    <div class="row col-12"
                         *ngFor="let project of resume.projects; let i = index; trackBy:customTrackBy">
                        <div class="col-4 float-left">
                            <div class="bmd-form-group col-12 float-left">
                                <div class="input-group">
                                    <mat-form-field class="float-left example-full-width">
                                        <input matInput type="text" class="form-control" placeholder="Name"
                                               [ngModel]="resume.projects[i].name"
                                               (ngModelChange)="resume.projects[i].name = $event">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 float-left">
                            <div class="bmd-form-group col-12 float-left">
                                <div class="input-group">
                                    <mat-form-field class="float-left example-full-width">
                                        <input matInput type="text" class="form-control" placeholder="URL"
                                               [ngModel]="resume.projects[i].url"
                                               (ngModelChange)="resume.projects[i].url = $event">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="bmd-form-group col-12 float-left">
                                <div class="input-group">
                                    <mat-form-field class="float-left example-full-width">
                                    <textarea rows="3" matInput placeholder="Sumary" class="form-control"
                                              [ngModel]="resume.projects[i].description"
                                              (ngModelChange)="resume.projects[i].description = $event"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-danger" (click)="deleteProject(i)">Delete Project</button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" (click)="addProject()">Add Project</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingOther">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOther"
                        aria-expanded="false" aria-controls="collapseOther">
                    <b>Other</b>
                </button>
            </h2>
        </div>
        <div id="collapseOther" class="collapse" aria-labelledby="headingOther" data-parent="#accordionResumeContent">
            <div class="card-body col-12">
                <div *ngIf="resume.others && resume.others.length > 0">
                    <div class="row col-12" *ngFor="let other of resume.others; let l = index; trackBy:customTrackBy">
                        <div class="col-4 float-left">
                            <div class="bmd-form-group col-12 float-left">
                                <div class="input-group">
                                    <mat-form-field class="float-left example-full-width">
                                        <input matInput type="text" class="form-control" placeholder="Name"
                                               [ngModel]="resume.others[l].key"
                                               (ngModelChange)="resume.others[l].key = $event">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="bmd-form-group col-12 float-left">
                                <div class="input-group">
                                    <mat-form-field class="float-left example-full-width">
                                    <textarea rows="4" matInput placeholder="Sumary" class="form-control"
                                              [ngModel]="resume.others[l].value"
                                              (ngModelChange)="resume.others[l].value = $event"
                                    ></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-danger" (click)="resume.others.splice(l,1)">Delete</button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" (click)="addOther()">Add content</button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <b style="margin-right: 10px;">Resume attact </b> <input type="file" id="resumeUpload"
                                                                 (change)="onFileUpload($event)" accept=".pdf">
    </div>
</div>
<div class="row col-12" *ngIf="!preview">
    <div class="col-12 float-right">
        <button class="btn btn-success float-right" (click)="previewResume()">
            Preview resume
        </button>
    </div>
</div>
<div class="col-12" *ngIf="preview" id="profileView" #profileView>
    <div class="col col-sm-6 float-left">
        <div class="row">
            <div class="bmd-form-group col-12 d-flex  justify-content-center ">
                <div class="col-12 text-center">
                    <div class="text_align-center" *ngIf="resume.person.firstName && resume.person.lastName">
                        <h2>{{resume.person.firstName}} {{resume.person.lastName}}</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bmd-form-group col-12 d-flex  justify-content-center ">
                <div class="col-12 text-center">
                    <div class="text_align-center" *ngIf="resume.person.jobTitle">
                        <h4>{{resume.person.jobTitle}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bmd-form-group col-sm-6  ">
                <div class="input-group float-left ">
                    <div class="input-group-prepend float-left">
                        <div class="input-group-text">
                            <i class="material-icons">cake</i>
                        </div>
                    </div>
                    <div *ngIf="resume.person.birthday">{{resume.person.birthday}}</div>
                </div>
            </div>
            <div class="bmd-form-group col-sm-6  ">
                <div class="input-group float-left ">
                    <div class="input-group-prepend float-left">
                        <div class="input-group-text">
                            <i class="material-icons">wc</i>
                        </div>
                    </div>
                    <div *ngIf="resume.person.gender">{{resume.person.gender}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bmd-form-group col-sm-6 float-left ">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="material-icons">phone</i>
                        </div>
                    </div>
                    <div *ngIf="resume.person.phoneNumber">{{resume.person.phoneNumber}}</div>
                </div>
            </div>
            <div class="bmd-form-group col-sm-6 float-left ">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="material-icons">email</i>
                        </div>
                    </div>
                    <div *ngIf="resume.person.email">{{resume.person.email}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bmd-form-group col-sm-12 float-left ">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="material-icons">location_on</i>
                        </div>
                    </div>
                    <div *ngIf="resume.person.address">{{resume.person.address}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bmd-form-group col-sm-12 float-left ">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="material-icons">info</i>
                        </div>
                    </div>
                    <div *ngIf="resume.person.website">{{resume.person.website}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-sm-12 ">
                <div class="card-header">
                    <h4 class="card-title"> Objective</h4>
                </div>
                <div class="card-body">
                    <div *ngIf="resume.person.objective">{{resume.person.objective}}</div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="resume.accomplishments">
            <div class="card col-sm-12 ">
                <div class="card-header">
                    <h4 class="card-title"> Accomplishments</h4>
                </div>
                <div class="card-body">
                    <div *ngFor="let acc of resume.accomplishments">
                        {{acc.value}} <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="resume.skills && resume.skills.length>0">
            <div class="card col-sm-12 ">
                <div class="card-header">
                    <h4 class="card-title"> Skills</h4>
                </div>
                <div class="card-body">
                    <div *ngFor="let skill of resume.skills" class="row col-12">
                        <div class="col-2 float-left"><b>{{skill.key}}</b><br></div>
                        <div *ngFor="let x of [].constructor(skill.value)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                      class="col-2 float-left text-warning">star_rate
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="resume.others">
            <div class="card col-sm-12 ">
                <div class="card-header">
                    <h4 class="card-title">Others</h4>
                </div>
                <div class="card-body">
                    <div *ngFor="let oth of resume.others">
                        <div><b>{{oth.key}}</b><br></div>
                        <div>{{oth.value}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-md-5 float-right">
        <div class="row" *ngIf="resume.education &&resume.education.schools">
            <div class="card col-sm-12 ">
                <div class="card-header">
                    <h4 class="card-title">Education</h4>
                </div>
                <div class="card-body">
                    <div *ngFor="let school of resume.education.schools" class="row">
                        <div class="col-12 float-left">{{school.name}}</div>
                        <div class="col-6 float-left">From: {{school.startDate}}</div>
                        <div class="col-6 float-left">To: {{school.endDate}}</div>
                        <div class="col-12">Summary: {{school.summary}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="resume.education && resume.education.examinations">
            <div class="card col-sm-12 ">
                <div class="card-header">
                    <h4 class="card-title">
                        Examinations</h4>
                </div>
                <div class="card-body">
                    <div *ngFor="let ex of resume.education.examinations" class="row">
                        <div class="col-12 float-left">{{ex.name}}</div>
                        <div class="col-6 float-left">From: {{ex.startDate}}</div>
                        <div class="col-6 float-left">To: {{ex.endDate}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="resume.jobWork">
            <div class="card col-sm-12 ">
                <div class="card-header">
                    <h4 class="card-title">Work experience</h4>
                </div>
                <div class="card-body">
                    <div *ngFor="let wx of resume.jobWork">
                        <div class="col-12">{{wx.company}}</div>
                        <div class="col-12">Position: {{wx.position}}</div>
                        <div class="col-6">Start: {{wx.startDate}}</div>
                        <div class="col-6">End: {{wx.endDate}}</div>
                        <div class="col-12">Summary: {{wx.summary}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="resume.projects">
            <div class="card col-sm-12 ">
                <div class="card-header">
                    <h4 class="card-title">Project</h4>
                </div>
                <div class="card-body">
                    <div *ngFor="let project of resume.projects">
                        <div class="col-12">
                            Name: {{project.name}}
                        </div>
                        <div class="col-12">
                            URL: {{project.url}}
                        </div>
                        <div class="col-12">
                            Description: {{project.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 float-right">
        <button class="btn btn-success float-right" (click)="applyResume()">
            Apply
        </button>
        <!--        <button class="btn btn-danger float-right" (click)="exportPdf()">-->
        <!--            Export PDF-->
        <!--        </button>-->
        <button class="btn btn-danger float-right" (click)="backButton()">
            Back
        </button>
    </div>
</div>



