<!--<div class="main-content">-->
<!--<div class="container-fluid">-->
<mat-dialog-content class="mat-typography" style="max-height: 100%">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div id="build-wrap" class="card card-stats"></div>
            <div id="render-wrap" class="card card-stats ">
                <form style="padding: 30px;" >
                </form>
                <button type="button" class="btn btn-info float-right edit-form">Edit Form</button>
            </div>
            <mat-dialog-actions id="dialog-end" align="end">
                <button type="button" class="btn btn-info float-right" (click)="reviewForm()">Review</button>
                <button type="button" class="btn btn-info float-right"
                        cdkFocusInitial mat-dialog-close (click)="closeDialog()">Save</button>
                <button type="button" class="btn btn-info float-right"
                        cdkFocusInitial mat-dialog-close >Cancel</button>
            </mat-dialog-actions>
        </div>
    </div>
</mat-dialog-content>

<!--</div>-->
<!--</div>-->


