<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">


            <a class="navbar-brand waves-effect" href="/client">
                <strong class="blue-text">Douholding Networks</strong>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect" href="/client">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav nav-flex-icons">

                    <li class="nav-item">
                        <a href="/auth/login-guest" class="nav-link waves-effect">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/auth/register" class="nav-link border border-light rounded waves-effect"
                           target="_blank">
                            Register
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>

</header>

<main class="mt-5 pt-5">
    <div class="container">


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Your information</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">

                        </div>


                    </div>
                </div>
            </div>
        </div>





    </div>
</main>

<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn fixed-bottom">
    <hr class="my-4">
    <div class="footer-copyright py-3">
        © 2019 Copyright:
        <a href="#" target="_blank"> CyberLogitec </a>
    </div>


</footer>
